     {% load static %}
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-4 col-6 footer__phone"></div>
          <div class="col-lg-6 col-md-8 col-6">
            <div class="desktop-and-tablets-props footer__props"><span>ИНН 615429050498</span><span>ИП Ключников Егор Александрович</span></div>
            <div class="mobile-props footer__props"><span>ОГРНИП 320619600098991</span><span>ИНН 615429050498</span></div>
          </div>
        </div>
        <div class="row mobile-copyright">
          <div class="col-12"><span>ИП Ключников Егор Александрович  |  Все права защищены © 2022</span></div>
        </div>
      </div>
    </footer>