   {% load static %}
    <header class="header">
      <div class="container header__nav">
        <div class="row">
          <div class="col-12"><img class="header__logo" src="{% static 'assets/img/logo1.svg' %}"></div>
        </div>
      </div>
      <div class="container-fluid header__descr">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-11 header__descr-container"><span>Избавили от долгов <b class="text--bold">3 879 человек </b>| Вероятность успеха <b class="text--bold">98%</b></span>
              <h1 class="header__title">Рассчитайте стоимость списания долгов “под ключ”</h1>
              <div class="tags">
                <div class="tags__item"><span>Всего за 15 минут</span></div>
                <div class="tags__item"><span>С гарантией по договору</span></div>
                <div class="tags__item"><span>Без лишних звонков и сообщений</span></div>
              </div>
            </div>
            <div class="col-lg-4 col-1 header__img-container"><img class="header__img" src="{% static 'assets/img/scales.png' %}"></div>
          </div>
        </div>
      </div>
    </header>